<!-- base.html을 확장해서 만든다는 의미-->
{% extends 'base.html' %}
{% load bootstrap4 %}
<!--프로젝트에 등록해놓은 bootstarp4를 load해서 불러들이고-->
{% block html_header %}
<script src="/static/js/menu_btn.js"></script> <!-- js형태로 static에 자바스크립트 만들고 경로를 설정해준다.-->

{% endblock %}

{% block html_body %}
<div class="container">
    <h1>새글 작성</h1>
    <p>{{ posts.b_title }}</p>
    <form action="" method="POST" enctype="multipart/form-data">
        <!--보안상의 이유로 csfr_token을 넣어줘야한다.-->
        {% csrf_token %}
        <!--이렇게 찍으면 입력이 자동으로 찍힌다!-->
<!--        {{ my_form.as_p }}-->

        {% bootstrap_form my_form %} <!--입력상자들-->
        <br>
        <div id="map" style="width:100%;height:350px;"></div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b1cecff12a8ce2189e4ab1ef565b2b3&libraries=services"></script>
        <script src="/static/js/map.js"></script>
        <!--부트스트랩 사용을 위해 bootstrap form을 통해 my_form을 선언해서 사용-->
        <!--또한 부트스트랩을 사용하기 위해 클래스를 잡아줘야한다.-->
        <button type="submit" class="btn btn-primary">등록</button> <!--버튼 누르면 /bbs/create/로 보내겠다는 의미-->
        <button type="button" class="btn btn-secondary"onclick="to_list()">리스트로 돌아가기</button>
    </form>
</div>
{% endblock %}