{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block html_header %}

<script src="/static/js/menu_btn.js"></script>
<style>
    .img_size {
        width: 300px;
        height: 300px;
    }

    .btn_btween {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
    #box1 {
        background-color: #e8e8e8;
    }
    /* 이미지 부분 박스처리*/
    #box2 {
        width: 555px;
        height: 555px;
    }
    /* 지도부분 박스처리*/
    #box3 {
        width: 555px;
        height: 555px;
    }
    /*좋아요 지도 부분 박스처리*/
    #box4 {
        height:50px ;
        border: solid 1px black;
        background-color: #ffffff;
    }
    /*글 내용 부분 화면에 보여지는 범위 설정*/
    #textarea {
        height: 100px;
    }
    /*글제목, 작성자, 내용 부분 박스로 잡음*/
    .form-group {
        border: solid 1px;
        background-color: #ffffff;


    }
    /*글 제목, 작성자, 내용 두꺼운 글씨 처리*/
    label{
        font-weight: bold;
        font-size: larger;
    }
    /*지도, 좋아요 양옆 배치*/
    .space_between{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
    }
</style>
{% endblock %}

{% block html_body %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="/static/img/7log_icon.png" width="100"
                                                                       height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/howtouse/">how to use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/diary_main/list/">DashBoard</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <!--
                        # 사용자 정보가 호출이되면(로그인 상태라면)
                        # 프로필 사진과 로그아웃 버튼이 보임
                        {% if request.user.is_authenticated %}
                        <img src="/static/img/L_002.png" width="50" height="50"> &nbsp;&nbsp;
                        <a class="btn btn-lg btn-danger" href="/users/logout/">logout</a>

                        # 사용자 정보가 호출이 안되면(비로그인 상태라면)
                        # 회원가입, 로그인 버튼과 문구가 화면에 나옴
                        # &nbsp; 는 띄어쓰기 삽입하는 코드
                        {% else %}
                        7log와 함께 당신의 이야기를 시작해보세요! -> &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-lg btn-primary" href="/users/login/">Sign up</a>
                        <a class="btn btn-lg btn-info" href="/users/login/">login</a>

                        # if문 완료
                        {% endif %}
                    -->
                    <div>
                        <p style=color:#ffff;>

                            {% if request.user.is_authenticated %}
                            {{ user.nickname }}
                            <img class="box" src="{{ user.image.url }}" width="50" height="50">
                            <a class="btn btn-lg btn-danger" href="/users/logout/">logout</a>

                            {% else %}
                            7log와 함께 당신의 이야기를 시작해보세요! -> &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-lg btn-primary" href="/users/signup/">Sign up</a>
                            <a class="btn btn-lg btn-info" href="/users/login/">login</a>

                            {% endif %}
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container px-4 py-5">
        <h1 class="visually-hidden">공백삽입</h1>
    </div>
    <div class="container">
        <h1>상세 보기</h1>
        <!--        <h2>{{ post.id }} 번째글</h2>-->
        글번호 : <span id="post_id">{{ post.id }}</span>
        <hr>
<!--        {% if post.b_img %}-->
<!--        <div class="img_size">-->
<!--            <img src="{{ post.b_img.url}}" width="100%" height="100%">-->
<!--        </div>-->
<!--        {% else %}-->
<!--        <p>이미지가 없습니다</p>-->
<!--        {% endif %}-->
<!--        {% bootstrap_form detail_form %}-->
<!--        <p>지도 : {{ post.b_map}}</p>-->
<!--        <p>좋아요 개수 : {{ post.b_like_count }}</p>-->

<!--        <div id="map" style="width:100%;height:350px;"></div>-->
<!--        <script type="text/javascript"-->
<!--                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b1cecff12a8ce2189e4ab1ef565b2b3&libraries=services"></script>-->
<!--        <script src="/static/js/map_tmp.js"></script>-->

        <div style="border: solid 1px black" >
            <div style="display: flex;flex-direction: row">
                <div style="border: solid 1px black" id="box2">
                    {% if post.b_img %}
                        <img src="{{ post.b_img.url}}" width="100%" height="100%">
                    {% else %}
                    <p>이미지가 없습니다</p>
                    {% endif %}
                </div>
                <div style="border: solid 1px black" id="box3">
                    <div id="map" style="width:100%;height:100%;"></div>
                    <script type="text/javascript"
                            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5b1cecff12a8ce2189e4ab1ef565b2b3&libraries=services"></script>
                    <script src="/static/js/map_tmp.js"></script>
                </div>
            </div>
            <!-- 좋아요 부분 부터 글내용까지 박스처리리           -->
            <div id="box1"style="border: solid 1px black" >
                <div class="space_between" id="box4" style="display: flex;flex-direction: row; border: solid 0.1px black">
                    <span style="font-weight: bold; font-size: larger">좋아요 개수 : {{ post.b_like_count }}</span>
                    <span style="font-weight: bold; font-size: larger">지도 : {{ post.b_map}}</span>
                </div>
                {% bootstrap_form detail_form %}
             </div>
        </div>

        <hr>
        <button class="btn btn-success"
                onclick="to_list()">리스트로 돌아가기
        </button>
        {% if post.b_author == user.nickname %}
        <button class="btn btn-primary"
                onclick="location.href ='/diary_main/{{post.id}}/update/';">수정
        </button>
        <button class="btn btn-danger"
                onclick="delete_post()">삭제
        </button>
        {% endif %}
        <button class="btn btn-warning"
                onclick="like_post()">좋아요
        </button>
        <input type="hidden" id="map_location" value="{{ post.b_map}}">
    </div>
    <br><br>

    <div class="container">
        <h3>댓글</h3>
        <label for="c_name"></label>

        <input type="text"
               hidden class="form-control w-25"
               id="c_name"
               value="{{ user.nickname }}">
        {% if request.user.is_authenticated %}
        <label for="c_content">내용</label>
        <div class="btn_btween" style="display: flex;flex-direction: row">
            <input type="text"
                   class="form-control w-75"
                   id="c_content">
            <div>
                <button type="button"
                        class="btn btn-info"
                        style="float:right"
                        onclick="create_comment()">댓글 등록
                </button>
            </div>
        </div>
        <br>
        {% endif %}
        <br>
        <table class="table table-hover">
            <thead class="thread-dark">
            <tr>
                <th scope="col" hidden>#</th>
                <th scope="col">댓글 작성자</th>
                <th scope="col" style="text-align: center">댓글 내용</th>
                <th scope="col" style="text-align: right">삭제</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr id="comment_id_head">
                <td hidden id="comment_id">{{ comment.id }}</td>
                <td>{{ comment.c_author }}</td>
                <td>{{ comment.c_content }}</td>
                {% if comment.c_author == user.nickname %}
                <td style="text-align: right">
                    <button class="btn btn-danger" onclick="delete_comment()">삭제</button>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br><br>
</main>
{% endblock %}
