{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}
<script src="/static/js/menu_btn.js"></script>
{% endblock %}

{% block html_body %}
<div class="container">
    <h1>상세 보기</h1>
    글번호 : <span id="post_id">{{ detail_form.initial.id }}</span>
    <br>
    {% bootstrap_form detail_form %}
    <br>
    <button class="btn btn-success"
            onclick="to_list()">리스트로 돌아가기</button>
    <button class="btn btn-primary">수정</button>
    <button class="btn btn-danger"
            onclick="delete_post()">삭제</button>
    <button class="btn btn-warning"
            onclick="like_post()">좋아요</button>
<!--    <button class="btn btn-secondary" onclick="location.href='img_view/'">이미지 보기</button>-->
</div>
<br><br>

<div class="container">
    <h3>댓글</h3>
    <label for="c_name">이름</label>
    <input type="text"
           class="form-control w-25"
           id="c_name">

    <label for="c_content">내용</label>
    <input type="text"
           class="form-control w-50"
           id="c_content">
    <button type="button"
            class="btn btn-info"
            onclick="create_comment()">댓글 등록</button>

    <table class="table table-hover">
        <thead class="thread-dark">
            <tr>
                <th scope="col">댓글 작성자</th>
                <th scope="col">댓글 내용</th>
                <th scope="col">삭제</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.c_author }}</td>
                <td>{{ comment.c_content }}</td>
                <td><button class="btn btn-danger">삭제</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br><br><br>
{% endblock %}
