{% extends 'base.html' %}

{% block html_header %}
<script src="/static/js/menu_btn.js"></script>
{% endblock %}

{%  block html_body %}
<div class="container">
    <h1>7log</h1>
    <button type="button"
            class="btn-primary"
            onclick="new_post()">새글 작성</button>
    <div class="m-1"></div>

    <table class="table table-hover">
        <thead class="thread-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">글 제목</th>
                <th scope="col">글 작성자</th>
                <th scope="col">글 작성일</th>
                <th scope="col">댓글 개수</th>
                <th scope="col">좋아요 개수</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td><a href="/bbs/{{ post.id }}/detail/">{{ post.b_title }}</a></td>
                <td>{{ post.b_author }}</td>
                <td>{{ post.b_date }}</td>
                <td>{{ post.b_comment_count }}</td>
                <td>{{ post.b_like_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
