{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}
<script src = "/static/js/menu_btn.js"></script>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}


{% block html_body %}
<main class="form-signin">
<!--  bootstrap login form templates-->
<!--
  <form>
    <img class="mb-4" src="/static/img/7log_icon.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">오늘도 당신의 이야기를 들려주세요!</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">id</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
 -->

<!-- 내가 만든 login form -->
    <form action="/users/loginProcess/"
          method="post">
      {% csrf_token %}
      <img class="mb-4" src="/static/img/7log_icon.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">오늘도 당신의 이야기를 들려주세요!</h1>

      {% bootstrap_form my_form %}

      <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
    </form>
</main>
{% endblock %}
