{% extends "base.html" %}
{% block html_header %}
<script src = "/static/js/menu_btn.js"></script>
<script src = "/static/js/id_check.js"></script>
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
<link href="/static/css/signin.css" rel="stylesheet">
{% endblock %}

{% block html_body %}
<main class="form-signin">

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}

    <div class="container my-3">
        <div class="row my-3">
            <div class="col-6">
                <h4>회원가입</h4>
            </div>
        </div>
        <div class="col-12">
            <img class="mb-4" src="/static/img/7log_icon.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">7log와 함께 해보세요!</h1>
        </div>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">ID</label>
                <input type="text" class="form-control" name="username" id="username"
                       placeholder="아이디를 입력하세요.">

            </div>

            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input type="text" class="form-control" name="nickname" id="nickname"
                       placeholder="닉네임을 입력하세요.">
            </div>
            <div class="form-group">
                <label for="password1">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1"
                       placeholder="비밀번호를 입력하세요.">
            </div>
            <div class="form-group">
                <label for="password2">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       placeholder="비밀번호를 한번 더 입력하세요.">
            </div>

    <!--        프사 넣을 박스-->
            <div class="form-group">
                <p>프로필 사진</p>
                <input name="image" type="file">
            </div>
            <div class="col text-center"> <!-- 버튼 가운데정렬 -->
                <button type="submit" class="btn btn-primary">가입하기</button>
            </div>

        </form>
    </div>
</main>



{% endblock %}