
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>7log</title>

    <!-- 구글 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-2.2.4.minzjs" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
    <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
    <meta name="theme-color" content="#7952b3">


    <style>
        /* font family 수정하기 */
        .logo_font{font-family: 'Hi Melody', cursive;}
        p{font-family: 'Hi Melody', cursive;}

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="/static/img/7log_icon.png" width="100" height="50"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/howtouse/">how to use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard/">DashBoard</a>
                    </li>
                </ul>
                <form class="d-flex">
<!--                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                    <button class="btn btn-outline-success" type="submit">Search</button>-->

                    <!--
                        # 사용자 정보가 호출이되면(로그인 상태라면)
                        # 프로필 사진과 로그아웃 버튼이 보임
                        {% if request.user.is_authenticated %}
                        <img src="/static/img/L_002.png" width="50" height="50"> &nbsp;&nbsp;
                        <a class="btn btn-lg btn-danger" href="/users/logout/">logout</a>

                        # 사용자 정보가 호출이 안되면(비로그인 상태라면)
                        # 회원가입, 로그인 버튼과 문구가 화면에 나옴
                        # &nbsp; 는 띄어쓰기 삽입하는 코드
                        {% else %}
                        7log와 함께 당신의 이야기를 시작해보세요! -> &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-lg btn-primary" href="/users/login/">Sign up</a>
                        <a class="btn btn-lg btn-info" href="/users/login/">login</a>

                        # if문 완료
                        {% endif %}
                    -->
                    <div>
                        <p style= color:#ffff;>

                            {% if request.user.is_authenticated %}
                            {{ user.nickname }}
                            <img src="{{ users.image.url }}" width="50" height="50">
                            <a class="btn btn-lg btn-danger" href="/users/logout/">logout</a>

                            {% else %}
                            7log와 함께 당신의 이야기를 시작해보세요! -> &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-lg btn-primary" href="/users/signup/">Sign up</a>
                            <a class="btn btn-lg btn-info" href="/users/login/">login</a>

                            {% endif %}
                        </p>
                    </div>
<!--
                    <p>
                        {% if request.user.is_authenticated %}
                        //<a class="btn btn-lg btn-primary invisible" href="/users/login/">Sign up</a>
                        //<a class="btn btn-lg btn-primary invisible" href="/users/login/">login</a>
                        <img src="/static/img/L_002.png" width="50" height="50">
                        <a class="btn btn-lg btn-danger" href="/users/logout/">logout</a>
                        {% else %}
                        <a class="btn btn-lg btn-info" href="/users/login/">login</a>
                        {% endif %}
                    </p>
                    -->

                </form>
            </div>
        </div>
    </nav>
</header>

<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
<!--                <svg class="bd-placeholder-img" width="100" height="100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/>-->
<!--                </svg>-->
                <img src="/static/img/img.png">

                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1 class="logo_font">7log에 오신것을 환영합니다 :D</h1>
                        <p>사진 한장으로 남기는 나의 일상</p>
<!--                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>-->
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-lg btn-primary" type="submit">Search</button>
<!--                            <p><a class="btn btn-lg btn-primary" href="/users/login">Sign up</a></p>-->
                        </form>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">

                    <div class="carousel-caption">
                        <h1>Another example headline.</h1>

                        <p>Some representative placeholder content for the second slide of the carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>

                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>One more for good measure.</h1>
                        <p>Some representative placeholder content for the third slide of this carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#ffff" dy=".3em">140x140</text>
                    <image x="3" y="-3" width="150" height="150" href="/static/img/L_005.png"/>
                </svg>

                <br><br>
                <h2>ABOUT</h2>
                <p>사진 한장으로 여러분의 추억을 기록해 보세요! <br>새로운 일상을 경험할 수 있는 기회입니다!</p>
                <p><a class="btn btn-secondary" href="/about/">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    <image x="3" y="-3" width="150" height="150" href="/static/img/L_008.png"/>
                </svg>

                <br><br>
                <h2>HOW TO USE</h2>
                <p>7log를 처음사용해 보시나요?<br>이곳을 통해 7log와 함께 사진 일기를 시작해봅시다!</p>
                <p><a class="btn btn-secondary" href="/howtouse/">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140"
                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#777"/>
                    <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
                    <image x="3" y="-3" width="150" height="150" href="/static/img/L_002.png"/>
                </svg>

                <br><br>
                <h2>DashBoard</h2>
                <p>이제 이야기를 시작할 시간입니다!<br>다양한 라이프 스타일을 만나보세요!</p>
                <p><a class="btn btn-secondary" href="/dashboard/">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</main>

</body>
</html>
